/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300");
@tailwind base;
@tailwind components;
@tailwind utilities;


/* variables */
:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #151934;
  --qwik-dark-text: #ffffff;
}

/* reset */
html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    Arial,
    sans-serif,
}

* {
  padding: 0;
  margin: 0;
  line-height: inherit;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}


.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn_primary {
  @apply bg-blue-500 text-white;
}
.btn_primary:hover {
  @apply bg-blue-700 text-white;
}
